//variables
$theme-colors: (
    "primary": #ff6b6b,
);
$text-muted: #717171;
$card-border-width: 0;
$box-shadow: -8px 12px 18px 0 #dadee8;
$font-size-base: 0.875rem;
$body-bg: #ecf0fa;
$primary: #ff6b6b;
$dark: #535353;
$table-border-width: 1px;
$input-box-shadow: none;
$input-padding-x: 0;
$font-weight-bold: 600;
$font-weight-bolder: 800;
$nav-pills-border-radius: 0;
$nav-pills-link-active-bg: #fff;
/* $nav-pills-link-active-color: $primary;
 */
$dropdown-border-width: 0;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: #fff;
$dropdown-font-size:  13px;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-content-border-width: 0;
$pagination-bg: #ecf0fa;
$pagination-color: #596882;
$pagination-hover-color: #fff;
$pagination-hover-bg: $primary;
$pagination-border-color: #dee2e6;
$pagination-disabled-color: #d0d7e8;
$pagination-disabled-bg: #ecf0fa;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./custom.scss";
@import "./responsive.scss";

body {
    font-family: "Open Sans", sans-serif;
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #adadad;
        }
    }
    &::-webkit-scrollbar {
        width: 8px;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 8px;
        &:hover,&:active  {
            background-color: #7e7e7e;
        }
    }
    &::-webkit-scrollbar-track-piece:end {
        margin-bottom: 25rem;
    }
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
