.app-content {
    margin-left: 265px;
    transition: margin-left 0.3s ease;
}
/* sidebar */
.sidebar {
    color: #14112d;
    width: 265px;
    height: 100%;
    max-height: 100%;
    background-color: #ffffff;
    z-index: 1024;
    position: fixed;
    box-shadow: 0px 8px 14.72px 1.28px rgb(229 228 230 / 50%);
    border-right: 1px solid #e3e3e3;
    transition: left 0.3s ease, width 0.3s ease;
    .sidebar-header {
        height: 64px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #e3e3e3;
        .logo {
            .sm {
                display: none;
            }
        }
    }
    .sidebar-menu {
        overflow-y: auto;
        height: 100%;
        &::-webkit-scrollbar {
            display: none;
        }

        .main-menu.profile-dropdown {
            border-bottom: 1px solid #e3e3e3;
            .menu-list.dropdown {
                .profile-logo {
                    .menu-label {
                        .sm {
                            display: none;
                        }
                    }
                }
                .sidebar-submenu {
                    padding: 20px 0px;
                    li a {
                        padding: 10px;
                        margin: 0;
                        display: block;
                        text-decoration: none;
                        color: #6d7790;
                        font-size: 14px;
                        font-weight: 600;
                        .menu-icon {
                            font-weight: 800;
                            float: left;
                            margin-right: 15px;
                            width: 30px;
                            text-align: center;
                            line-height: 30px;
                            font-size: 20px;
                        }
                        .menu-label {
                            transition: all 0.5s ease;
                            line-height: 30px;
                            display: block;
                            white-space: nowrap;
                        }
                        &:hover {
                            color: $primary;
                        }
                    }
                    .submenu-item.active {
                        color: $primary;
                    }
                }
            }
        }
        .main-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            .menu-list {
                padding: 6px 12px;
                .menu-item {
                    padding: 10px;
                    margin: 0;
                    display: block;
                    text-decoration: none;
                    color: #535353;
                    font-size: 14px;
                    font-weight: 600;
                    .menu-icon {
                        float: left;
                        margin-right: 15px;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                    }
                    .menu-label {
                        transition: all 0.5s ease;
                        line-height: 30px;
                        display: block;
                        white-space: nowrap;
                    }
                    &.active {
                        color: $primary;
                    }
                }
                .sidebar-submenu {
                    display: none;
                    list-style: none;
                    padding-left: 0;
                    .menu-list {
                        position: relative;
                        padding: 0;
                        .submenu-item:hover {
                            color: $primary;
                        }
                        .submenu-item {
                            display: block;
                            padding: 10px;
                            font-weight: 600;
                            text-decoration: none;
                            color: #6d7790;
                            .menu-icon {
                                font-weight: 800;
                                float: left;
                                margin-right: 15px;
                                width: 30px;
                                text-align: center;
                                line-height: 30px;
                            }
                            .menu-label {
                                transition: all 0.5s ease;
                                line-height: 30px;
                                white-space: nowrap;
                                display: block;
                            }

                            &.active {
                                color: $primary;
                            }
                        }
                        &.dropdown {
                            .sidebar-submenu.nested {
                                .submenu-item:hover {
                                    color: $primary;
                                }
                                .submenu-item {
                                    font-weight: 600;
                                    text-decoration: none;
                                    color: #6d7790;
                                    .menu-icon {
                                        font-weight: 800;
                                        float: left;
                                        margin-right: 15px;
                                        width: 30px;
                                        text-align: center;
                                        line-height: 30px;
                                    }
                                    .menu-label {
                                        transition: all 0.5s ease;
                                        line-height: 30px;
                                    }
                                    &.active {
                                        color: $primary;
                                    }
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                            .submenu-item::after {
                                display: block;
                                margin-left: auto;
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                content: "\f107";
                                color: #bac5d4;
                                position: relative;
                                top: -26px;
                                float: right;
                            }
                            &.active {
                                .submenu-item::after {
                                    content: "\f106";
                                }
                            }
                        }
                    }
                    &.menu-open {
                        display: block;
                    }
                }
                &.dropdown {
                    .menu-item:after {
                        display: block;
                        margin-left: auto;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f107";
                        color: #bac5d4;
                        position: relative;
                        top: -24px;
                        float: right;
                    }
                    &.active {
                        .menu-item:after {
                            content: "\f106";
                        }
                        > .sidebar-submenu {
                            display: block;
                        }
                    }
                }
                .menu-item:hover {
                    color: $primary;
                }
            }
        }
    }
}
.sidebar-toggled {
    .sidebar-header {
        .logo {
            .sm {
                display: block;
            }
            .lg {
                display: none;
            }
        }
    }
    .sidebar {
        width: 80px;
        .sidebar-menu {
            .main-menu.profile-dropdown {
                .menu-list {
                    .menu-item {
                        .menu-label {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                            .sm {
                                display: block;
                            }
                            .lg {
                                display: none;
                            }
                        }
                        .user-info {
                            display: none;
                        }
                    }
                    .sidebar-submenu {
                        .menu-label {
                            transform: translate3d(-110px, 0, 0);
                            opacity: 0;
                        }
                    }
                }
            }
            .main-menu {
                .menu-list {
                    .menu-item {
                        .menu-label {
                            -webkit-transform: translate3d(-25px, 0, 0);
                            transform: translate3d(-25px, 0, 0);
                            opacity: 0;
                        }
                    }
                    &.dropdown {
                        .menu-item {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    .sidebar-submenu {
                        .menu-list {
                            .submenu-item {
                                .menu-label {
                                    -webkit-transform: translate3d(-25px, 0, 0);
                                    transform: translate3d(-25px, 0, 0);
                                    opacity: 0;
                                }
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .app-content {
        margin-left: 80px;
    }
}
.sidebar-toggled {
    .sidebar:hover {
        width: 265px;
        .sidebar-header {
            .logo {
                .lg {
                    display: block;
                }
                .sm {
                    display: none;
                }
            }
        }
        .sidebar-menu {
            .main-menu.profile-dropdown {
                border-bottom: 1px solid #e3e3e3;
                .menu-list.dropdown {
                    .profile-logo {
                        .menu-label {
                            justify-content: center;
                            display: flex;
                            .sm {
                                display: none;
                            }
                            .lg {
                                display: block;
                            }
                        }
                        .user-info {
                            display: block;
                        }
                    }
                    .sidebar-submenu {
                        .menu-label {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                        }
                    }
                }
            }
            .main-menu {
                .menu-list {
                    .menu-item {
                        .menu-label {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                        }
                    }
                    &.dropdown {
                        .menu-item {
                            &::after {
                                display: block;
                            }
                        }
                    }
                    .sidebar-submenu {
                        .menu-list {
                            .submenu-item {
                                .menu-label {
                                    -webkit-transform: translate3d(0, 0, 0);
                                    transform: translate3d(0, 0, 0);
                                    opacity: 1;
                                }
                                &::after {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* header */
.navbar {
    height: 64px;
    border-bottom: 1px solid #dee4ec;
    box-shadow: 5px 7px 26px -5px #cdd4e7;
    .btn:focus {
        box-shadow: none;
    }
    .search-bar {
        outline: none;
        input {
            font-size: 14px;
            height: 40px;
            width: 220px;
            border-radius: 20px;
            background: #ecf0fa;
            border: 1px solid #ecf0fa;
            padding: 8px 18px;
        }
        .input-group-btn {
            background-color: #ecf0fa;
            height: 40px;
            color: #b4bdce;
            transition: none;
            font-size: 16px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            outline: none;
            .btn {
                color: #b4bdce;
                padding: 8px 18px;
            }
        }
        input:focus,
        .btn:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .nav-right {
        .nav-item {
            padding-left: 10px;
        }
        .user-dropdown {
            .dropdown-toggle {
                border: none;
                background-color: transparent;
            }
            .dropdown-toggle::after {
                display: none;
            }
            .dropdown-toggle:focus-visible {
                outline: none;
            }
            .dropdown-menu {
                border-radius: 6px;
                min-width: 210px;
                -webkit-box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%);
                box-shadow: 0px 0px 15px 1px rgb(69 65 78 / 20%);
                border: none;
                padding: 0 0 8px 0;
                top: 48px !important;
                .header-profile {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    div span.small {
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
                .dropdown-item {
                    border-top: 1px dotted #e2eaf9;
                    padding: 10px 16px;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: $dark;
                    .icon {
                        font-size: 15px;
                        margin-right: 10px;
                        width: 24px;
                        text-align: center;
                    }
                }
                .dropdown-item.active,
                .dropdown-item:active,
                .dropdown-item:hover,
                .dropdown-item:focus {
                    color: $primary;
                    background-color: #fff;
                    outline: none;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: -8.5px;
                    right: 15px;
                    border-bottom: 9px solid $primary;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                }
            }
        }
    }
}
/* table */
.table-responsive {
    border-radius: 3px;
    .table.table-bordered.table-view {
        min-width: 880px;
        thead th {
            font-weight: 700;
        }
    }
    .table/* .table-bordered */ {
        width: 100%;
        /* min-width: 1003px; */
        th,
        td {
            border: none;
            font-size: 12.5px;
            min-width: 70px;
            /* width: 135px; */
            padding: 8px 5px;
            vertical-align: middle;
        }
        tbody {
            tr {
                border-top: 1px solid #dee2e6;
            }
            tr:hover {
                background-color: #f1f6ff;
            }
        }
        .btn {
            padding: 4px 8px;
            border-radius: 2px;
            font-size: 10px;
            font-weight: 600;
        }
    }
    .table.modal-table {
        th,
        th {
            font-size: 12.5px;
        }
        &.invoice-table {
            thead {
                background-color: #ececec;
                th {
                    vertical-align: middle;
                    text-align: center;
                }
            }
            tbody tr {
                border-bottom: 1px solid #dee2e6;
                td {
                    vertical-align: middle;
                    text-align: center;
                    padding: 15px 5px;
                }
            }
        }
    }
    .custom-select-sm {
        width: auto;
        background: none;
    }
    .form-control:focus {
        border-color: #ebecff;
        box-shadow: none;
    }
}
.pagination .page-item {
    margin-right: 8px;
    .page-link {
        border-radius: 4px;
    }
}
/* forms */
.form-group {
    .control-label {
        position: relative;
        top: 25px;
        transition: 0.3s ease all;
        font-size: 13px;
        margin-bottom: 0;
        font-weight: 600;
        small {
            font-weight: 800;
            color: $primary;
        }
    }
    .control-label.active {
        top: 0;
    }
    .col-form-label {
        font-size: 13px;
        font-weight: 600;
    }
    input.form-control,
    select.form-control,
    textarea.form-control {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border: 0;
        background-image: linear-gradient($primary, $primary),
            linear-gradient(#d2d2d2, #d2d2d2);
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0);
        transition: background 0s ease-out;
        float: none;
        box-shadow: none;
        border-radius: 0;
        font-weight: 400;
    }
}
.form-group.focused {
    .control-label {
        top: 0;
    }
    input.form-control:focus,
    select.form-control:focus {
        outline: none;
        background-image: linear-gradient($primary, $primary),
            linear-gradient(#d2d2d2, #d2d2d2);
        background-size: 100% 2px, 100% 1px;
        box-shadow: none;
        transition-duration: 0.3s;
    }
}
.custom-checkbox .custom-control-label {
    line-height: 20px;
}
.form-group select.form-control option {
    padding: 5rem;
}
.dropdown.bootstrap-select {
    .btn.dropdown-toggle {
        background-color: #e0e0e0;
        outline: none !important;
    }
    .dropdown-menu li a {
        outline: none;
        margin: 3px 0;
        &:hover {
            background-color: #ff6b6b;
            color: white;
        }
    }
}
.custom-file-label::after {
    padding: 0.375rem 0.75rem;
}
.custom-input{
    border: 0;
    font-size: 13px;
    color: #212529;
    padding: 0;
    background-color: transparent;
    &:focus{
        border: 0;
        outline: none;
    }
}
.fw-90 {
    .form-control {
        width: 88%;
    }
}
/* card */
.card-top {
    position: relative;
    top: -21px;
    left: 22px;
    .card-title {
        display: inline-block;
        background: $primary;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
            0 7px 10px -5px rgb(255 107 107 / 58%);
        padding: 18px 18px;
        color: white;
        border-radius: 3px;
    }
    .btn-right {
        right: 42px;
        top: 42px;
    }
}
/* modal */
.custom-modal {
    .edit {
        .modal-content {
            border-top: 6px solid #28a745;
            .icon {
                left: 23.36rem;
            }
        }
        &.modal-xxl {
            .icon {
                left: 29.86rem;
            }
        }
    }
    .modal-content {
        border-top: 6px solid $primary;
        border-radius: 8px;
        &.success {
            border-top: 6px solid #28a745;
        }
        .icon {
            position: absolute;
            top: -30px;
            left: 43%;
        }
        .form-control {
            font-size: 12.5px;
        }
    }
}
.modal-open {
    padding-right: 0 !important;
}
.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
    .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-header {
        border-bottom: none;
        position: relative;
    }
    .form-control,
    .btn {
        min-height: 40px;
        border-radius: 3px;
    }
    h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }
    .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }
    .icon-box {
        color: #fff;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -62px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        z-index: 9;
        background: #82ce34;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        i {
            font-size: 58px;
            position: relative;
            top: -4px;
            right: 3px;
        }
    }
    &.modal-dialog {
        margin-top: 80px;
    }
    .btn {
        color: #fff;
        border-radius: 4px;
        background: #82ce34;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
        &:hover,
        &:focus {
            background: #6fb32b;
            outline: none;
        }
    }
    &.danger {
        .icon-box {
            background: #ff6e63;
            i {
                top: 6px;
                right: 1px;
                font-size: 40px;
            }
        }
        .btn {
            background: #ff6e63;
            &:focus {
                background: #f73f31;
            }
        }
    }
}
/* tabs */
.nav.nav-pills {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid #e4e4e4;
    font-weight: 600;
    .nav-link {
        color: $dark;
    }
    .nav-link:hover {
        background-color: #fff2f2;
    }
    .nav-link.active {
        color: $primary;
        border-bottom: 2px solid #ff6b6b;
    }
}
.img-upload {
    .file {
        visibility: hidden;
        position: absolute;
    }
    #org_img {
        display: none;
    }
    .browse {
        border-radius: 4px;
    }
    img {
        box-shadow: 0 10px 30px -12px rgb(0 0 0 / 3%),
            0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    }
    &.form {
        .browse {
            width: 192px;
        }
    }
}
.dropdown-menu.show {
    box-shadow: 0px 0px 15px 1px rgb(221 225 235);
    top: 4px !important;
    padding: 0;
    .dropdown-item {
        border-top: 1px dotted #e2eaf9 !important;
        padding: 8px 16px;
    }
}
.btn-primary {
    color: #fff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
        0 7px 10px -5px rgb(255 107 107 / 58%);
}
.btn-secondary {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
        0 7px 10px -5px rgb(108 117 125 / 52%);
}
.btn-outline-primary {
    background-color: #fff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
        0 7px 10px -5px rgb(255 107 107 / 16%);
}
.bg-primary-gradient {
    background-image: linear-gradient(to left, #ff916b, #ff6b6b);
}
.bg-secondary-gradient {
    background-image: linear-gradient(to left, #0db2de 0%, #005bea 100%);
}
.bg-success-gradient {
    background-image: linear-gradient(to left, #69c57e 0%, #28a745 100%);
}
.bg-warning-gradient {
    background-image: linear-gradient(to left, #efa65f, #f76a2d);
}
.card-stats {
    border-radius: 3px;
    &:hover {
        .dash-icon {
            border-radius: 50%;
        }
    }
}
.dash-icon {
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 17px 0;
    font-size: 18px;
    text-shadow: 0 6px 8px rgb(62 57 107 / 18%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-outline-primary:hover {
    color: #fff;
}
.btn-large {
    min-width: 130px;
}
.bg-top {
    height: 190px;
    background-color: #e0e0e0;
}
.card-main {
    position: relative;
    bottom: 10rem;
}
.text-14 {
    font-size: 14px !important;
}
.text-13 {
    font-size: 13px;
}
.text-12 {
    font-size: 12px;
}
.text-sm {
    font-size: 12.5px;
}
.fw-700 {
    font-weight: 700;
}
.login_main {
    background-image: url("/assets/img/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgb(234 234 234 / 50%);
    }
    .login-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 1px 2px 17px 1px rgb(105 105 105 / 66%);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
        z-index: 4;
        .input-grp {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            padding: 0 10px;
            margin: 8px 0;
            border-radius: 3px;
            input {
                background-color: #eee;
                border: none;
                padding: 12px 11px;
                width: 100%;
                outline: none;
            }
            &:focus-within {
                box-shadow: 0px 0px 3px 3px rgb(171 171 171 / 37%);
            }
        }
        .btn {
            border-radius: 20px;
        }
        form {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
        }
        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
        }

        .sign-in-container {
            left: 0;
            width: 50%;
            z-index: 2;
        }

        .sign-up-container {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }

        .overlay-container {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
            .overlay {
                background: #ff6b6b;
                background: -webkit-linear-gradient(to right, #ff9b6b, #ff6b6b);
                background: linear-gradient(to left, #ff9b6b, #ff6b6b);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0 0;
                color: #ffffff;
                position: relative;
                left: -100%;
                height: 100%;
                width: 200%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;
                .overlay-panel {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 40px;
                    text-align: center;
                    top: 0;
                    height: 100%;
                    width: 50%;
                    transform: translateX(0);
                    transition: transform 0.6s ease-in-out;
                }

                .overlay-left {
                    transform: translateX(-20%);
                }
                .overlay-right {
                    right: 0;
                    transform: translateX(0);
                }
            }
        }
        &.right-panel-active {
            .sign-in-container {
                transform: translateX(100%);
            }
            .sign-up-container {
                transform: translateX(100%);
                opacity: 1;
                z-index: 5;
                animation: show 0.6s;
            }
            .overlay-container {
                transform: translateX(-100%);
                .overlay {
                    transform: translateX(50%);
                    .overlay-left {
                        transform: translateX(0);
                    }
                    .overlay-right {
                        transform: translateX(20%);
                    }
                }
            }
        }
        @keyframes show {
            0%,
            49.99% {
                opacity: 0;
                z-index: 1;
            }

            50%,
            100% {
                opacity: 1;
                z-index: 5;
            }
        }
    }
}

.flatpickr-calendar {
    .flatpickr-day {
        &.today {
            border-color: #ff8383;
            background: #ff8f8f;
            color: #fff;
        }
        &.selected {
            border-color: $primary;
            background: $primary;
            color: #fff;
            &:hover,
            &:active {
                border-color: $primary;
                background: $primary;
            }
        }
    }
}
.display-none{
    display: none;
}
.overflow-xv{
    overflow-x: visible;
}