@media (min-width: 1200px) {
    .modal-xl {
        max-width: 820px;
    }
    .custom-modal {
        .modal-dialog {
            .edit {
                .modal-content {
                    border-top: 6px solid #28a745;
                    .icon {
                        left: 23.36rem;
                    }
                }
            }
            &.modal-xl {
                max-width: 820px;
            }
            &.modal-xxl {
                max-width: 1024px;
            }
        }
    }
}
